<% provide(:title, 'About') %>
<h1>About</h1>
<p>We are a business that is very focussed on improving processes and offering secure services. We make your life easier. We make your office run more smoothly.</p>