<div class="center hero-unit">
  <h1>Welcome to E-Scheduler</h1>

  <h2>
    Where scheduling gets done.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <%= render partial: "office", collection: @offices %>

</div>
